.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;

}


.form{
    text-align: center;
 
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    background-color: aquamarine;
    padding: 20px;
    border-radius: 10px;
}
input{
    width: 300px;
    padding: 10px ;
    outline: none;
    border-radius: 20px;
    border: 2px solid black;
}
.display{
    width: 100%;
    margin: auto;
}
.view,.submit{
    padding: 5px 20px;
  border-radius: 20px;

  background-color: aqua;
 
  border: 2px solid black;
}

